{
  "swagger": "2.0",
  "info": {
    "description": "SocioCortex REST API",
    "version": "1.0.1",
    "title": "SocioCortex REST API",
    "contact": {
      "name": "SC API support",
      "email": "sociocortex.sebis@tum.de"
    }
  },
  "host": "server.sociocortex.de",
  "basePath": "/api/v1",
  "schemes": [
    "http",
    "https"
  ],
  "securityDefinitions": {
    "basicAuth": {
      "type": "basic",
      "description": "HTTP Basic Authentication. Works over `HTTP` and `HTTPS`"
    }
  },
  "paths": {
    "/forgotPassword": {
      "put": {
        "tags": [
          "forgotPassword"
        ],
        "summary": "Restores a password",
        "description": "Sends an email for password recovery when the user forgets the password",
        "operationId": "forgotPassword",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "login",
            "description": "User email",
            "required": true,
            "schema": {
              "$ref": "#/definitions/person"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Login invalid",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Returns a list of all workspaces",
        "description": "Returns a list of all workspaces",
        "operationId": "workspaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Creates a new workspace",
        "description": "Creates a new workspace",
        "operationId": "createWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Workspace",
            "description": "New Workspace in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/workspace"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/workspace"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Returns the workspace with the given ID",
        "description": "Returns the workspace with the given ID",
        "operationId": "getWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/workspace"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "workspace"
        ],
        "summary": "Does an incremental update of the workspace with the given ID",
        "description": "Does an incremental update of the workspace with the given ID",
        "operationId": "updateWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Workspace",
            "description": "Updated Workspace in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/workspace"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/workspace"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "workspace"
        ],
        "summary": "Deletes the workspace with the given ID",
        "description": "Deletes the workspace with the given ID",
        "operationId": "deleteWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/entities": {
      "get": {
        "tags": [
          "workspace",
          "entity"
        ],
        "summary": "Returns all the entities in the workspace with the given ID",
        "description": "Returns all the entities in the workspace with the given ID",
        "operationId": "workspaceEntities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-seperated list of attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "An indication if the rich-text content of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "tasks",
            "in": "query",
            "description": "An indication if the tasks of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "workspace",
          "entity"
        ],
        "summary": "Creates an entity in the workspace with the given ID",
        "description": "Creates an entity in the workspace with the given ID",
        "operationId": "createEntityInWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Entity",
            "description": "New Entity in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entity"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/entityTypes": {
      "get": {
        "tags": [
          "workspace",
          "entityType"
        ],
        "summary": "Returns all the entity types in the workspace with the given ID",
        "description": "Returns all the entity types in the workspace with the given ID",
        "operationId": "workspaceTypes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "workspace",
          "entityType"
        ],
        "summary": "Creates an entity type in the workspace with the given ID",
        "description": "Creates an entity type in the workspace with the given ID",
        "operationId": "createEntityTypeInWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "EntityType",
            "description": "New EntityType in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/customFunctions": {
      "get": {
        "tags": [
          "workspace",
          "customFunction"
        ],
        "summary": "Returns all the static custom functions in the workspace with the given ID",
        "description": "Returns all the static custom functions in the workspace with the given ID",
        "operationId": "workspaceCustomFunctions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "404": {
            "description": "Workspace not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "workspace",
          "customFunction"
        ],
        "summary": "Creates a static custom function in the workspace with the given ID",
        "description": "Creates a static custom function in the workspace with the given ID",
        "operationId": "createCustomFunctionInWorkspace",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "CustomFunction",
            "description": "New CustomFunction in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entities": {
      "post": {
        "tags": [
          "entity"
        ],
        "summary": "Creates a new entity",
        "description": "Creates a new entity",
        "operationId": "createEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Entity",
            "description": "New Entity in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entity"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entities/{entityId}": {
      "get": {
        "tags": [
          "entity"
        ],
        "summary": "Returns the entity with the given ID",
        "description": "Returns the entity with the given ID",
        "operationId": "getEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-seperated list of attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "An indication if the rich-text content of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "tasks",
            "in": "query",
            "description": "An indication if the tasks of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "entity"
        ],
        "summary": "Does an incremental update of the entity with the given ID",
        "description": "Does an incremental update of the entity with the given ID",
        "operationId": "updateEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Entity",
            "description": "Updated Entity in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entity"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "entity"
        ],
        "summary": "Deletes the entity with the given ID",
        "description": "Deletes the entity with the given ID",
        "operationId": "deleteEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entities/{entityId}/attributes": {
      "get": {
        "tags": [
          "entity",
          "attribute"
        ],
        "summary": "Returns the attributes of the entity with the given ID",
        "description": "Returns the attributes of the entity with the given ID",
        "operationId": "attributes",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/attribute"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "entity"
        ],
        "summary": "Creates an attribute for the entity with the given ID",
        "description": "Creates an attribute for the entity with the given ID",
        "operationId": "newAttributeForEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Entity Attribute",
            "description": "Entity Attribute in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/attribute"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/attribute"
            }
          },
          "400": {
            "description": "Invalid ID or Attribute Name supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity or Attribute not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/attributes": {
      "post": {
        "tags": [
          "attribute"
        ],
        "summary": "Creates a new attribute",
        "description": "Creates a new attribute",
        "operationId": "newAttribute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Entity Attribute",
            "description": "Entity Attribute in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/attribute"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID or Attribute Name supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity or Attribute not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/attributes/{attributeId}": {
      "get": {
        "tags": [
          "attribute"
        ],
        "summary": "Returns the attribute with the given ID",
        "description": "Returns the attribute with the given ID",
        "operationId": "getAttribute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attributeId",
            "description": "ID of the attribute that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Attribute not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "attribute"
        ],
        "summary": "Does an incremental update of the attribute with the given ID",
        "description": "Does an incremental update of the attribute with the given ID",
        "operationId": "updateAttribute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attributeId",
            "description": "ID of the attribute that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Attribute",
            "description": "Updated Attribute in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/attribute"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/attribute"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "attribute"
        ],
        "summary": "Deletes the attribute with the given ID",
        "description": "Deletes the attribute with the given ID",
        "operationId": "deleteAttribute",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attributeId",
            "description": "ID of the attribute that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entities/{entityId}/files": {
      "get": {
        "tags": [
          "entity",
          "file"
        ],
        "summary": "Returns the files of the entity with the given ID",
        "description": "Returns the files of the entity with the given ID",
        "operationId": "filesByEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/file"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "entity",
          "file"
        ],
        "summary": "Creates a file for the entity with the given ID",
        "description": "Creates a file for the entity with the given ID",
        "operationId": "newFileForEntity",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityId",
            "description": "ID of the entity that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "File Attributes",
            "description": "File Attributes in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/file"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/file"
            }
          },
          "400": {
            "description": "Invalid ID or File Name supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity or File not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/files": {
      "post": {
        "tags": [
          "file"
        ],
        "summary": "Creates a new file",
        "description": "Creates a new file",
        "operationId": "newFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "File Attributes",
            "description": "File Attributes in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/file"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/file"
            }
          },
          "400": {
            "description": "Invalid ID or File Name supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity or File not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/files/{fileId}": {
      "get": {
        "tags": [
          "file"
        ],
        "summary": "Returns the file with the given ID",
        "description": "Returns the file with the given ID",
        "operationId": "getFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "ID of the file that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/file"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "File not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "file"
        ],
        "summary": "Does an incremental update of the file with the given ID",
        "description": "Does an incremental update of the file with the given ID",
        "operationId": "updateFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "ID of the file that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Attribute",
            "description": "Updated File in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/file"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/file"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "File not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "file"
        ],
        "summary": "Deletes the file with the given ID",
        "description": "Deletes the file with the given ID",
        "operationId": "deleteFile",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "fileId",
            "description": "ID of the file that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "File not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entityTypes": {
      "post": {
        "tags": [
          "entityType"
        ],
        "summary": "Creates a new entity type",
        "description": "Creates a new entity type",
        "operationId": "createEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Type",
            "description": "New EntityType in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entityTypes/{entityTypeId}": {
      "get": {
        "tags": [
          "entityType"
        ],
        "summary": "Returns the entity type with the given ID",
        "description": "Returns the entity type with the given ID",
        "operationId": "getEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "entityType"
        ],
        "summary": "Does an incremental update of the entity type with the given ID",
        "description": "Does an incremental update of the entity type with the given ID",
        "operationId": "updateEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Type",
            "description": "Updated EntityType in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entityType"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "entityType"
        ],
        "summary": "Deletes the entity type with the given ID",
        "description": "Deletes the entity type with the given ID",
        "operationId": "deleteEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entityTypes/{entityTypeId}/entities": {
      "get": {
        "tags": [
          "entityType",
          "entity"
        ],
        "summary": "Returns all entities of the entity type with the given ID",
        "description": "Returns all entities of the entity type with the given ID",
        "operationId": "typeEntities",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-seperated list of attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "An indication if the rich-text content of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "tasks",
            "in": "query",
            "description": "An indication if the tasks of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "entityType",
          "entity"
        ],
        "summary": "Creates an entities for the entity type with the given ID",
        "description": "Creates an entities for the entity type with the given ID",
        "operationId": "newEntityForEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Entity",
            "description": "Entity in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/entity"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/entity"
            }
          },
          "400": {
            "description": "Invalid ID or Attribute Name supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Entity or Attribute not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entityTypes/{entityTypeId}/attributeDefinitions": {
      "get": {
        "tags": [
          "entityType",
          "attributeDefinition"
        ],
        "summary": "Returns all attribute definitions of the entity type with the given ID",
        "description": "Return all attribute definitions of entity type",
        "operationId": "getAttributeDefinitionsOfType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "entityType",
          "attributeDefinition"
        ],
        "summary": "Creates an attribute definition for the entity type with the given ID",
        "description": "Creates an attribute definition for the entity type with the given ID",
        "operationId": "createAttributeDefinitionForEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Attribute Definition",
            "description": "Updated Attribute Definition in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/attributeDefinition"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/attributeDefinition"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entityTypes/{entityTypeId}/derivedAttributeDefinitions": {
      "get": {
        "tags": [
          "entityType",
          "derivedAttributeDefinition"
        ],
        "summary": "Returns all derived attribute definitions of the entity type with the given ID",
        "description": "Return all derived attribute definitions of entity type",
        "operationId": "getDerivedAttributeDefinitionsOfType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "entityType",
          "derivedAttributeDefinition"
        ],
        "summary": "Creates a derived attribute definition for the entity type with the given ID",
        "description": "Creates a derived attribute definition for the entity type with the given ID",
        "operationId": "createDerivedAttributeDefinitionForEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Derived Attribute Definition",
            "description": "Updated Derived Attribute Definition in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/derivedAttributeDefinition"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/derivedAttributeDefinition"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/entityTypes/{entityTypeId}/customFunctions": {
      "get": {
        "tags": [
          "entityType",
          "customFunction"
        ],
        "summary": "Returns all custom functions of the entity type with the given ID",
        "description": "Return all custom functions of entity type",
        "operationId": "getCustomFunctionsOfType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "entityType",
          "customFunction"
        ],
        "summary": "Creates a custom function for the entity type with the given ID",
        "description": "Creates a custom function for the entity type with the given ID",
        "operationId": "createCustomFunctionForEntityType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "entityTypeId",
            "description": "ID of the entity type that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Custom Function",
            "description": "Updated Custom Function in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/customFunction"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/attributeDefinitions": {
      "post": {
        "tags": [
          "attributeDefinition"
        ],
        "summary": "Creates a new attribute definition",
        "description": "Creates a new attribute definition",
        "operationId": "createAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "AttributeDefinition",
            "description": "New AttributeDefinition in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/attributeDefinition"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/attributeDefinition"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/attributeDefinition/{attributeDefinitionId}": {
      "get": {
        "tags": [
          "attributeDefinition"
        ],
        "summary": "Returns the attribute definition with the given ID",
        "description": "Returns the attribute definition with the given ID",
        "operationId": "getAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attributeDefinitionId",
            "description": "ID of the attribute definition that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/attributeDefinition"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "attributeDefinition"
        ],
        "summary": "Does an incremental update of the attribute definition with the given ID",
        "description": "Does an incremental update of the attribute definition with the given ID",
        "operationId": "updateAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attributeDefinitionId",
            "description": "ID of the attribute definition that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Type",
            "description": "Updated attribute definition in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/attributeDefinition"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/attributeDefinition"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "attributeDefinition"
        ],
        "summary": "Deletes the attribute definition with the given ID",
        "description": "Deletes the attribute definition with the given ID",
        "operationId": "deleteAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "attributeDefinitionId",
            "description": "ID of the attribute definition that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/derivedAttributeDefinitions": {
      "post": {
        "tags": [
          "derivedAttributeDefinition"
        ],
        "summary": "Creates a new derived attribute definition",
        "description": "Creates a new derived attribute definition",
        "operationId": "createDerivedAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "DerivedAttributeDefinition",
            "description": "New DerivedAttributeDefinition in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/derivedAttributeDefinition"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/derivedAttributeDefinition"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/derivedAttributeDefinitions/{derivedAttributeDefinitionId}": {
      "get": {
        "tags": [
          "derivedAttributeDefinition"
        ],
        "summary": "Returns the derived attribute definition with the given ID",
        "description": "Returns the derived attribute definition with the given ID",
        "operationId": "getDerivedAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "derivedAttributeDefinitionId",
            "description": "ID of the derived attribute definition that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/derivedAttributeDefinition"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Derived attribute definition not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "derivedAttributeDefinition"
        ],
        "summary": "Does an incremental update of the derived attribute definition with the given ID",
        "description": "Does an incremental update of the derived attribute definition with the given ID",
        "operationId": "updateDerivedAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "derivedAttributeDefinitionId",
            "description": "ID of the derived attribute definition that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Type",
            "description": "Updated derived attribute definition in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/derivedAttributeDefinition"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/derivedAttributeDefinition"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "derivedAttributeDefinition"
        ],
        "summary": "Deletes the derived attribute definition with the given ID",
        "description": "Deletes the derived attribute definition with the given ID",
        "operationId": "deleteDerivedAttributeDefinition",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "derivedAttributeDefinitionId",
            "description": "ID of the derived attribute definition that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/customFunctions": {
      "get": {
        "tags": [
          "customFunction"
        ],
        "summary": "Returns a list of all global static functions",
        "description": "Returns a list of all global static functions",
        "operationId": "globalStaticFunctions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "customFunction"
        ],
        "summary": "Creates a new custom function",
        "description": "Creates a new custom function",
        "operationId": "createCustomFunction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "CustomFunction",
            "description": "New CustomFunction in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/customFunctions/{customFunctionId}": {
      "get": {
        "tags": [
          "customFunction"
        ],
        "summary": "Returns the custom function with the given ID",
        "description": "Returns the custom function with the given ID",
        "operationId": "getCustomFunction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "customFunctionId",
            "description": "ID of the custom function that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Custom function not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "customFunction"
        ],
        "summary": "Does an incremental update of the custom function with the given ID",
        "description": "Does an incremental update of the custom function with the given ID",
        "operationId": "updateCustomFunction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "customFunctionId",
            "description": "ID of the custom function that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Type",
            "description": "Updated custom function in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/customFunction"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Custom function not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "customFunction"
        ],
        "summary": "Deletes the custom function with the given ID",
        "description": "Deletes the custom function with the given ID",
        "operationId": "deleteCustomFunction",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "customFunctionId",
            "description": "ID of the custom function that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "Returns all groups",
        "description": "Returns all groups",
        "operationId": "groups",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/group"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "group"
        ],
        "summary": "Creates a new group",
        "description": "Creates a new group",
        "operationId": "createGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "Group",
            "description": "New Group in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 400,
                "detail": "Invalid ID supplied"
              }
            }
          },
          "404": {
            "description": "Group not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 404,
                "detail": "Not Found"
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "get": {
        "tags": [
          "group"
        ],
        "summary": "Returns the group with the given ID",
        "description": "Returns the group with the given ID",
        "operationId": "getGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "ID of the group that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 400,
                "detail": "Invalid ID supplied"
              }
            }
          },
          "404": {
            "description": "Group not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 404,
                "detail": "Not Found"
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "group"
        ],
        "summary": "Does an incremental update of the group with the given ID",
        "description": "Does an incremental update of the group with the given ID",
        "operationId": "updateGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "ID of the group that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Group",
            "description": "Updated Group in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/group"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 400,
                "detail": "Invalid ID supplied"
              }
            }
          },
          "404": {
            "description": "Group not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 404,
                "detail": "Not Found"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "group"
        ],
        "summary": "Deletes the group with the given ID",
        "description": "Deletes the group with the given ID",
        "operationId": "deleteGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "groupId",
            "description": "ID of the group that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 400,
                "detail": "Invalid ID supplied"
              }
            }
          },
          "404": {
            "description": "Group not found",
            "schema": {
              "$ref": "#/definitions/error"
            },
            "examples": {
              "application/json": {
                "status_code": 404,
                "detail": "Not Found"
              }
            }
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Returns all users",
        "description": "Returns all users",
        "operationId": "users",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/user"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Creates a new user",
        "description": "Creates a new user",
        "operationId": "createUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "User",
            "description": "New User in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Returns the user with the given ID",
        "description": "Returns the user with the given ID",
        "operationId": "getUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Does an incremental update of the user with the given ID",
        "description": "Does an incremental update of the user with the given ID",
        "operationId": "updateUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "User",
            "description": "Updated User in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/user"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Deletes the user with the given ID",
        "description": "Deletes the user with the given ID",
        "operationId": "deleteUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/picture"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/users/{userId}/picture": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Returns the profile picture of the user with the given ID",
        "description": "Returns the profile picture of the user with the given ID",
        "operationId": "getUserPicture",
        "produces": [
          "image/png"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Updates the profile picture of the user with the given ID",
        "description": "Updates the profile picture of the user with the given ID",
        "operationId": "updateUserPicture",
        "produces": [
          "image/png"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Picture",
            "description": "Link to profile picture of the user that is fetched",
            "required": true,
            "schema": {
              "$ref": "#/definitions/picture"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/users/{userId}/tasks": {
      "get": {
        "tags": [
          "user",
          "task"
        ],
        "summary": "Returns all tasks for which the given user is the owner",
        "description": "Returns all tasks for which the given user is the owner",
        "operationId": "getTasksByUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "isinconsistent",
            "in": "query",
            "description": "An indication if only inconsistent tasks should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "isoverdue",
            "in": "query",
            "description": "An indication if only isoverdue tasks should be included in the response",
            "required": false,
            "type": "boolean"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Type not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      },
      "post": {
        "tags": [
          "user",
          "task"
        ],
        "summary": "Creates a task with the specified user as its owner",
        "description": "Creates a task with the specified user as its owner",
        "operationId": "newTaskForUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "description": "ID of the user that is fetched",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "Task",
            "description": "Task in JSON",
            "required": true,
            "schema": {
              "$ref": "#/definitions/task"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/task"
            }
          },
          "400": {
            "description": "Invalid ID or Attribute Name supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Task or User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Returns the current user",
        "description": "Returns the current user",
        "operationId": "me",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/user"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "User not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/mxlQuery": {
      "post": {
        "tags": [
          "mxl"
        ],
        "summary": "Performs a query without a context",
        "description": "Performs a query without a context",
        "operationId": "mxlQuery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-seperated list of attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "An indication if the rich-text content of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "tasks",
            "in": "query",
            "description": "An indication if the tasks of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "mxlBody",
            "description": "The standard body for MxL requests is a JSON object which can contain the attributes 'expression', 'parameterDefinitions', and 'expressionType'",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mxlBody"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/mxlResponse"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        }
      }
    },
    "/workspaces/{workspaceId}/mxlQuery": {
      "post": {
        "tags": [
          "workspace",
          "mxl"
        ],
        "summary": "Performs a query within a workspace",
        "description": "Performs a query within a workspace",
        "operationId": "workspaceMxlQuery",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "workspaceId",
            "description": "ID of the workspace in which the MxL query has to be performed",
            "required": true,
            "type": "string"
          },
          {
            "name": "attributes",
            "in": "query",
            "description": "A comma-seperated list of attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "meta",
            "in": "query",
            "description": "A comma-seperated list of meta attribute names which should be included in the response (or * for all)",
            "required": false,
            "type": "string"
          },
          {
            "name": "content",
            "in": "query",
            "description": "An indication if the rich-text content of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "tasks",
            "in": "query",
            "description": "An indication if the tasks of the entity should be included in the response",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "mxlBody",
            "description": "The standard body for MxL requests is a JSON object which can contain the attributes 'expression', 'parameterDefinitions', and 'expressionType'",
            "required": true,
            "schema": {
              "$ref": "#/definitions/mxlBody"
            }
          }
        ],
        "security": [
          {
            "basicAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/mxlResponse"
            }
          },
          "400": {
            "description": "Invalid ID supplied",
            "schema": {
[...]
