<div class="col-lg-10">
    <section id="overview">
        <h1 class="post-title">SocioCortex Tutorial</h1>
        <p>The tutorial makes you familiar with the SocioCortex concepts and its REST API.</p>

        <h2>Basics of the SocioCortex API</h2>
        <ol>
            {% for lesson in (1..10) %}
            {% for post in site.categories.tutorial %}
            {% if post.nr == lesson and post.tutorial == "Basics of the SocioCortex API" %}
            <li><a class="post-link" href="{{ post.url }}">{{ post.title }}</a>: {{ post.description }}</li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ol>
        <h2>Model-based Expression Language</h2>
        <ol>
            {% for lesson in (1..10) %}
            {% for post in site.categories.tutorial %}
            {% if post.nr == lesson and post.tutorial == "MxL" %}
            <li><a class="post-link" href="{{ post.url }}">{{ post.title }}</a>: {{ post.description }}</li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ol>
        <h2>SC Visualizer</h2>
        <ol>
            {% for lesson in (1..10) %}
            {% for post in site.categories.tutorial %}
            {% if post.nr == lesson and post.tutorial == "SC Visualizer" %}
            <li><a class="post-link" href="{{ post.url }}">{{ post.title }}</a>: {{ post.description }}</li>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </ol>
    </section>
</div>