<div class="col-lg-10">
    <section id="overview">
        <h1 class="post-title">SocioCortex Tutorial</h1>
        <p>The tutorial makes you familiar with the SocioCortex concepts and its REST API.</p>

        {% for group in site.categories.tutorial | group_by: "tutorial" | sort_by:'nr' %}

        <h2>{{ group.name}}</h2><ul>

            {% for post in group.items %}

            <li><a class="post-link" href="{{ post.url }}">{{ post.title }}</a>: {{ post.description }}</li>

            {% endfor %}

        </ul>

        {% endfor %}

    </section>
</div>