<section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
    <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="index.html">SocioCortex</a>
    </nav>

    <div class="wy-nav-content">
        <div class="rst-content">
            <div role="navigation" aria-label="breadcrumbs navigation">
                <ul class="wy-breadcrumbs">
                    <li><a href={{"/tutorial/" }}>Tutorial</a> &raquo;</li>
                    <li>{{ page.tutorial }}</li>
                    <li>{{ page.title }}</li>
                    <li class="wy-breadcrumbs-aside">
                        <a href="#" class="fa fa-github"> Edit on GitHub</a>
                    </li>
                </ul>
                <hr/>
            </div>

            <div role="main" class="document">
                <div class="section" id="welcome-to-read-the-docs">
                    <div class="page-content">
                        <div class="wrapper">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>