<nav data-toggle="wy-nav-shift" class="wy-nav-side">
    <div class="wy-side-nav-search">
        <a href={{"/" }} class="icon icon-home"> SocioCortex</a>
        <div role="search">
            <form id="rtd-search-form" class="wy-form" action="search.html" method="get">
                <input type="text" name="q" placeholder="Search docs" />
                <input type="hidden" name="check_keywords" value="yes" />
                <input type="hidden" name="area" value="default" />
            </form>
        </div>
    </div>
    <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        <div class="local-toc">
            <p class="caption">
                <span class="caption-text">Basics of the SocioCortex API</span>
            </p>
            <ol>
                {% for lesson in (1..10) %}
                {% for post in site.categories.tutorial %}
                {% if post.nr == lesson and post.tutorial == "Basics of the SocioCortex API" %}                
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>                
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ol>
            
            <p class="caption">
                <span class="caption-text">Model-based Expression Language</span>
            </p>
            <ol>
                {% for lesson in (1..10) %}
                {% for post in site.categories.tutorial %}
                {% if post.nr == lesson and post.tutorial == "MxL" %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ol>
            <p class="caption">
                <span class="caption-text">SC Visualizer</span>
            </p>
            <ol>
                {% for lesson in (1..10) %}
                {% for post in site.categories.tutorial %}
                {% if post.nr == lesson and post.tutorial == "SC Visualizer" %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </ol>
        </div>
    </div>
    &nbsp;
</nav>

