<section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
    <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="index.html">SocioCortex</a>
    </nav>

    <div class="wy-nav-content">
        <div class="rst-content">
            <div role="navigation" aria-label="breadcrumbs navigation">
                <ul class="wy-breadcrumbs">
                    <li>SC REST API Documentation</li>
                    <!--<li class="wy-breadcrumbs-aside">
                        <a href="#" class="fa fa-github"> Edit on GitHub</a>
                    </li>-->
                </ul>
                <hr/>
            </div>

            <div role="main" class="document">
                <div class="wrapper swagger-section">
                    <div id="message-bar" class="swagger-ui-wrap">&nbsp;</div>
                    <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
                </div>
            </div>
        </div>
    </div>
</section>