@import url(https://fonts.googleapis.com/css?family=Merriweather);


.team-member h4 {
    height: 90px;
}

.navbar-fixed-top .nav-active {
    border-bottom: 5px solid #D20015;
}

.header .navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;
}

.sidebar-nav .nav-active {
    border-left: 5px solid #D20015;
    background-color: #eee;
    color: black !important;
}

.sidebar-nav li :hover {
    color: #D20015 !important;
}

.sidebar-nav{
    position: fixed;
    z-index: 1000;
}

.screenshot {
    width: 80%;
    margin: 10px;
}

h3.section-heading {
    color: #003359!important;
 }

.auto-col-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 350px;
    -moz-column-width: 350px;
    column-width: 350px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}


.navbar-fixed-top .navbar-nav li :hover {
    color: #88C0E8 !important;
}

.navbar-fixed-top {
    background-color: #003359;
}

    .navbar-fixed-top .navbar-nav li a {
        color: white !important;
    }



    .navbar-fixed-top .navbar-nav a {
        font-family: 'Merriweather', serif !important;
        font-size: 12pt !important;
    }

body {
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    height: 100%;
}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 150px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

    h2.section-heading {
        color: darkblue;
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 50px;
    }

    h3.section-subheading {
        color: darkblue;
        margin-bottom: 75px;
        text-transform: none;
        font-family: 'Merriweather', serif;
        font-size: 26px;
        font-style: italic;
        font-weight: 400;
    }

p {
    font-size: 16px;
    line-height: 1.75;
    text-align: justify;
}

ul.social-buttons {
    margin-bottom: 0;
}

    ul.social-buttons li a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: #fff;
        background-color: #222;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

        ul.social-buttons li a:hover,
        ul.social-buttons li a:focus,
        .team-member {
            margin-bottom: 50px;
            text-align: center;
        }

            .team-member img {
                margin: 0 auto;
                border: 7px solid #fff;
            }

            .team-member h4 {
                margin-top: 25px;
                margin-bottom: 0;
                text-transform: none;
            }

            .team-member p {
                margin-top: 0;
            }

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    margin-top: 40px;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
}

.sidebar-nav .navbar ul {
    float: none;
}

    .sidebar-nav .navbar ul:not {
        display: block;
    }

.sidebar-nav .navbar li {
    float: none;
    display: block;
}

    .sidebar-nav .navbar li a {
        padding-top: 6px;
        padding-bottom: 6px;
    }

.application {
    margin-top: 70px;
}
