@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
    height: 100%;
}

.jumbotron {
    padding-top: 150px;
    padding-bottom: 150px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Merriweather', serif;
    font-weight: 700;
}

h2.section-heading {
    color:darkblue;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 50px;
}

h3.section-subheading {
    color:darkblue;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-style: italic;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 1.75;
    text-align: justify;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    margin-top: 50px;
    z-index: 1000;
    overflow-y: scroll;
    overflow-x: hidden;
    height:100%;
    min-height:100%;
}
.sidebar-nav .navbar ul {
    float: none;
}
.sidebar-nav .navbar ul:not {
    display: block;
}
.sidebar-nav .navbar li {
    float: none;
    display: block;
}
.sidebar-nav .navbar li a {
    padding-top: 6px;
    padding-bottom: 6px;
}

.application {
    margin-top: 50px;
}