<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
    {% include header.html %}
    <br /><br />
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="section-subheading">Applications</h2>
                    <p>SocioCortex already forms the foundation for multiple projects, ranging from configurable visualizations to text analysis workbenches.</p>
                </div>
                <div class="col-lg-9">

                    <div class="list-group">

                        {% for post in site.categories.application %}
                        <a href="{{ post.url }}" class="list-group-item col-lg-5" style="margin:5px;">
                            <h4 class="list-group-item-heading">{{ post.title }}</h4>
                            <span class="list-group-item-text">
                                {{ post.teaser }}
                            </span>
                        </a>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    {% include js.html %}
</body>
</html>