<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
    {% include header.html %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    SocioCortex already forms the foundation for multiple projects, ranging from configurable visualizations to text analysis workbenches.
                </div>
                <div class="col-lg-6">


                    {% for post in site.categories.application %}
                    <div class="col-lg-6">
                        <a href="{{ post.url }}">
                            <h4>{{ post.title }}</h4>
                        </a>
                        <p>
                            {{ post.teaser }}
                        </p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    {% include js.html %}
</body>
</html>