<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" class="index">
    {% include header.html %}
    <br /><br />
    <section>
        <div class="container">
            <h2 class="section-subheading">SocioCortex Applications and Projects</h2>
            <div class="row">
                <div class="col-md-4">
                   
                    <p>SocioCortex already forms the foundation for multiple projects, ranging from configurable visualizations to text analysis workbenches.</p>
                    <p>Those projects are presented on this website, i.e., we demonstrate how the respective applications look like, and how they benefit from the features of SocioCortex.</p>
                </div>

                <div class="col-md-8">

                    <div class="list-group" style="margin:5px;">

                        {% for post in site.categories.application %}
                        <a href="{{ post.url }}" class="list-group-item col-md-5" style="margin:5px;">
                            <h4 class="list-group-item-heading">{{ post.title }}</h4>
                            <span class="list-group-item-text">
                                {{ post.teaser }}
                            </span>
                        </a>
                        {% endfor %}
                    </div>


                </div>
            </div>
        </div>
    </section>

    {% include footer.html %}

    {% include js.html %}
</body>
</html>